<div class="row url-form">
  <h2>URL Shortener</h2>
  <form name="form" id="form-url">
    <div class="form-group">
      <label for="url">URL address</label>
      <input type="text" class="form-control" id="url" placeholder="URL">
    </div>
    <button type="submit" class="btn btn-default">Shorten</button>
  </form>

  <div class="summary success">
    Shorten URL is : <a href='' id="shortenURLLink" target="_blank"></a>
  </div>

  <div class="summary error required">
    URL is required
  </div>
</div>